:root {
  --cor-primaria: #1db954;
  --cor-secundaria: #191414;
  --texto-destacado:#fff;
  --texto-normal:#aaa;
  --cinza-escuro:#1b1b1b;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto',Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: var(--cor-secundaria);
  color: var(--texto-destacado);
}
nav h2 {
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 10px;
  color: var(--texto-normal);
  letter-spacing: 2px;
  margin-top: 40px;
}
.app {
  display: grid;
  grid-template-columns: 20vw 1fr;
  height: calc(100vh - 80px);
}
.app aside {
  padding: 30px;
}
aside .menu-lateral {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.menu-lateral li {
  padding-bottom: 1px;
}
.menu-lateral li a {
  color: var(--texto-normal);
  padding: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: 500;
}
.menu-lateral li a:hover,
.menu-lateral li a.ativado {
  color: var(--texto-destacado);
  background-color: rgba(255,255,255,0.2);
  border-radius: 2px;
}
.menu-lateral.segundo-menu,
.menu-lateral.terceiro-menu {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-bottom: 20px;
}
.menu-lateral.segundo-menu li a:hover {
  background: none;
}
.menu-lateral.segundo-menu li a {
  padding-bottom: 0px;
}
.menu-lateral.segundo-menu li a span:first-child {
  width: 30px;
  height: 30px;
  background-color: red;
  align-items: center;
  display: flex;
  justify-content: center;
}
.menu-lateral.segundo-menu li .playlists-add span:first-child {
  background-color: var(--texto-normal);
  color: var(--cor-secundaria);
}
.menu-lateral.segundo-menu li .liked-songs span:first-child {
  background: linear-gradient(145deg,rgba(80,24,240,1) 35%,rgba(80,24,240,1) 100%);
  color: var(--texto-normal);
}
.app main {
  background: linear-gradient(180deg, rgba(51,85,120,1) 20%, rgba(25,20,20,1) 100%);
  padding: 30px;
  overflow: auto;
}
.app main header {
  display: grid;
  grid-template-columns: 1fr auto;
}
.app main header .user-info {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: var(--cor-secundaria);
  border-radius: 20px;
  height: 40px;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  gap: 5px;
}
.app main header .user-info .avatar {
  background-color: var(--cor-secundaria);
  border-radius: 20px;
  padding: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app main header .user-info .avatar img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.app main header .user-info .username{
  font-size: 0.8rem;
}
.app main header .user-info .seta-baixo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 40px;
  color: var(--texto-destacado);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.app main header div.controles {
  display: flex;
  gap: 10px;
}
.app main header div.controles button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgba(0,0,0,0.5);
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--texto-normal);
}
.app main header div.controles button:hover {
  background-color: var(--cor-secundaria);
  color: var(--texto-destacado);
}
.app main section .ultimas-tocadas {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns:  repeat(3,1fr);
  gap: 20px;
}
.app main section .ultimas-tocadas li {
  display: grid;
  grid-template-columns: 60px 1fr;
  background-color: rgba(255,255,255,0.2);
  align-items: center;
  gap: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
}
.app main section .ultimas-tocadas li span:first-child img {
  width: 100%;
  display: block;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.app main section .ultimas-tocadas li:hover span:first-child img {
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.app main section .ultimas-tocadas li span:last-child {
  text-transform: capitalize;
}
.app main section .cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app main section .cabecalho h2:last-child {
  text-transform: uppercase;
}
.app main section .rotacao {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
}
.app main section .rotacao li {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: rgba(0,0,0,0.3);
  padding: 15px;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
}
.app main section .rotacao li span:first-child img {
  width: 100%;
  display: block;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.app main section .rotacao li:hover span:first-child img {
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}
.app main section .rotacao li span:last-child {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.app main section .rotacao li span:last-child span:first-child {
  color: var(--texto-destacado);
  font-size: 0.7rem;
  font-weight: 800;
}
.app main section .rotacao li span:last-child span:last-child {
  color: var(--texto-normal);
  font-size: 0.6rem;
  font-weight: 500;
}
.tocador {
  width: 100vw;
  height: 80px;
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  background-color: var(--cinza-escuro);
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 0px 30px;
  gap: 30px;
}
.tocador .album {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  align-items: center;
  gap: 20px;
}
.tocador .album .cover img {
  display: block;
  width: 100%;
}
.tocador .album .info {
  display: flex;
  flex-direction: column;
}
.tocador .album .info span {
  font-weight: 500;
}
.tocador .album .info span:first-child {
  font-size: 0.9rem;
  color: var(--texto-destacado);
}
.tocador .album .info span:last-child{
  font-size: 0.7rem;
  color: var(--texto-normal);
}
.tocador .album .like button {
  cursor: pointer;
  background: transparent;
  color: var(--texto-normal);
  border: none;
  font-size: 1.2rem;
}
.tocador .controle-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.tocador .controle-1 .linha-1 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.tocador .controle-1 .linha-1 button,
.tocador .controle-2 button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: rgba(255,255,255,0.3);
}
.tocador .controle-1 .linha-1 button:hover,
.tocador .controle-2 button:hover {
  color: var(--texto-destacado);
}
.tocador .controle-1 .linha-1 button.tocar {
  background-color: var(--texto-destacado);
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-secundaria);
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.tocador .controle-1 .linha-2 {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  font-size: 0.7rem;
  color: var(--texto-normal);
}
.barra-progresso{
  background-color: rgba(255,255,255,0.1);
  height: 6px;
  display: block;
  border-radius: 3px;
}
.barra-progresso .progresso{
  background-color: var(--texto-destacado);
  display: inherit;
  height: inherit;
  border-radius: inherit;
  cursor: pointer;
}
.tocador .controle-2 {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 10px;
}
.tocador .controle-2 .barra-progresso {
  width: 100px;
}