/*
 * Folha de estilo para os formulários
*/
input:invalid,
textarea:invalid {
  border-color: #DD2C00;
}
input[type="date"],
input[type="email"],
input[type="text"],
textarea {
  width:100%;  
  border-radius: 20px;
  padding: 10px;
}
input[type="submit"] {
  margin-top: 5px;
}
label.label {
  font-weight: bold;
  padding: 5px;
  font-size: medium;
  display: block;
  text-align: start;
}
/* Formatação formulário de contato */
#formcontact {
  display: inline-block;
  width: 54%;
  vertical-align: top;
}
#infocontact {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.grecaptcha-badge {
  z-index: 1000;
}
#formcontact h2 {
  margin: 0;
  text-align: center;
}
#formcontact p,
#join p {
  text-align: center;
  margin:  0px;
}
@media only screen and (max-width: 1024px) {
  #formcontact,
  #infocontact{
    display: block;
    width: 100%;
  }
}

/* Formatação para botões desabilitados */
button[disabled],
button[disabled]:hover,
input[type="button"][disabled],
input[type="button"][disabled]:hover,
input[type="submit"][disabled],
input[type="submit"][disabled]:hover,
input[type="reset"][disabled],
input[type="reset"][disabled]:hover{
  background-color: #ccc !important;
  color: #e0484c;
  pointer-events: none;
}
/*Falta adicionar os outros tipos de campos*/
textarea[disabled],
textarea[disabled]:hover,
input[type="date"][disabled],
input[type="date"][disabled]:hover,
input[type="email"][disabled],
input[type="email"][disabled]:hover,
input[type="text"][disabled],
input[type="text"][disabled]:hover{
  background-color: #eee !important;
}
input[disabled]:-webkit-autofill,
input[disabled]:-webkit-autofill:hover, 
input[disabled]:-webkit-autofill:focus, 
input[disabled]:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0px 50px #eee inset !important;
}

/* Formatação formulário de filiação */
#join_form fieldset,
.line_form,
.centered {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  align-items: baseline;
}
.line_form,
#join_form fieldset {
  justify-content: flex-start;
}
.centered {
  justify-content: center;
}
#join_form fieldset label,
.line_form label {
  flex-grow: initial;
}
input[type="date"].input_date {
  width: fit-content;
}
#nacionalidade {
  width: 7ch;
  min-width: 7ch;
}
input.input_small.input_fixed {
  width: 15ch;
  min-width: 15ch;
}
input.input_medium.input_fixed {
  width: 30ch;
  min-width: 30ch;
}
input.input_large.input_fixed {
  width: 50ch;
  min-width: 50ch;
  max-width: 90%;
}
input.input_dinamic {
  min-width: 10ch;
}
input.input_small.input_dinamic {
  width: 15vw;
}
input.input_medium.input_dinamic {
  width: 30vw;
}
input.input_large.input_dinamic {
  width: 55vw;
}
.line_form {
  text-align: left;
}
div.line_form#autorized {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.line_form *,
div.line_form#autorized * {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
input[type="radio"].type {
  display: none;
}
label.type {
  font-weight: normal;
  text-align: center;
}
input[type="radio"]:checked + span {
  font-weight: bold;
}
#join {
  text-align: center;
}
#header_join {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}
#header_text,
#header_logo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}
#header_logo img {
  min-width: 150px;
  max-width: 200px;
  min-height: 150px;
  max-height: 200px;
  width: 20em;
}
#join_header *,
#join_contact *,
#title_join * {
  margin: 0;
}
#join_header p {
  font-size: 2.5vh;
  font-weight: bold;
}
#join_subheader {
  font-size: 2.0vh;
  font-weight: normal;
  margin:  0px;
}
#join_contact p {
  font-size: 1.5vh;
  font-weight: bold;
}
#title_join {
  margin: 2em 0em;
}
#join_title {
  font-size: 6vh;
  font-weight: bold;
}
#join_submit,#join_print {
  width: 48%;
  margin-top: 0px;
}
label#confirmed {
  font-weight: normal;
  font-size: medium;
  text-align: start;
}
label#required {
  color: #DD2C00;
}
div#header_text p {
  margin: 0px;
}
/* Limite máximo para uma linha só  */
@media only screen and (max-width: 1140px) {

}
@media only screen and (max-width: 1024px) {
  .line_form label,
  #title_join .centered,
  .line_form .label input[type="date"],
  .line_form .label input[type="email"],
  .line_form .label input[type="text"],
  .line_form .label textarea {
    
  }
}
/* Remove LOGO */
@media only screen and (max-width: 730px) {
  #header_logo {
    display: none;
  }
}
/* Seleção do tipo na vertical */
@media only screen and (max-width: 600px) {
  label.type {
    padding: 0px;
  }
  .centered {
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
}