/*
 * Folha de estilo para os formulários
*/
input:invalid,
textarea:invalid {
  border-color: #DD2C00;
}
input[type="date"],
input[type="email"],
input[type="text"],
textarea {
  width:100%;  
  border-radius: 20px;
  padding: 10px;
}
input[type="submit"] {
  margin-top: 5px;
}
label.label {
  font-weight: bold;
  padding: 5px;
  font-size: medium;
  display: flex;
  text-align: start;
  align-items: center;
  flex-flow: row nowrap;
  white-space: nowrap;
}
.label input {
  padding-left: 10px;
}
/* Formatação formulário de contato */
#formcontact {
  display: inline-block;
  width: 54%;
  vertical-align: top;
}
#infocontact {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.grecaptcha-badge {
  z-index: 1000;
}
#formcontact h2 {
  margin: 0;
  text-align: center;
}
#formcontact p,
#join p {
  text-align: center;
  margin:  0px;
}
@media only screen and (max-width: 1024px) {
  #formcontact,
  #infocontact{
    display: block;
    width: 100%;
  }
}

/* Formatação para botões desabilitados */
button[disabled],
button[disabled]:hover,
input[type="button"][disabled],
input[type="button"][disabled]:hover,
input[type="submit"][disabled],
input[type="submit"][disabled]:hover,
input[type="reset"][disabled],
input[type="reset"][disabled]:hover{
  background-color: #ccc !important;
  color: #e0484c;
  pointer-events: none;
}
/*Falta adicionar os outros tipos de campos*/
textarea[disabled],
textarea[disabled]:hover,
input[type="date"][disabled],
input[type="date"][disabled]:hover,
input[type="email"][disabled],
input[type="email"][disabled]:hover,
input[type="text"][disabled],
input[type="text"][disabled]:hover{
  background-color: #eee !important;
}
input[disabled]:-webkit-autofill,
input[disabled]:-webkit-autofill:hover, 
input[disabled]:-webkit-autofill:focus, 
input[disabled]:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0px 50px #eee inset !important;
}

/* Formatação formulário de filiação */
fieldset#pessoais,
fieldset#profissionais {
  border: 1px solid #808080;
}
fieldset legend {
  font-size: large;
  font-weight: bold;
}
#join {
  width: 100%;
}
#join #join_form {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
}
#join_form fieldset,
.centered {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  align-items: center;
}
#join_form fieldset {
  justify-content: space-between;
}
.centered {
  justify-content: center;
}
input[type="date"].input_date {
  width: auto;
}
#label_nome {
  width: 100%;
}
#nacionalidade{
  width: 7ch;
  min-width: 7ch;
  flex-grow: 1;
}
#label_naturalidade,
#label_civil {
  flex-grow: 2;
}
#label_nascimento,
#label_cpf,
#label_pis_pasep {
  flex-flow: 1;
}
#label_rg {
  flex: 2;
}
#label_numero{
  flex-grow: 1;
}
#numero {
  width: 10ch;
  min-width: 10ch;
}
#label_endereco{
  flex-grow: 50;
}
#label_complemento{
  flex-grow: 10;
}
#label_cep {
  flex-grow: 1;
}
#label_bairro,
#label_cidade,
#label_municipio{
  flex-grow: 20;
}
#label_telefone {
  flex-grow: 1;
}
#label_email {
  flex-grow: 20;
}
#label_matricula,
#label_filiacao{
  flex-grow: 2;
}
#label_admissao {
  flex-grow: 1;
}
#label_empresa {
  flex-grow: 500;
}
#label_cargo_prof {
  flex-grow: 5;
}
#label_reg_clt {
  flex-grow: 2;
}
input.input_small.input_fixed {
  width: 15ch;
  min-width: 15ch;
}
input.input_medium.input_fixed {
  width: 30ch;
  min-width: 30ch;
}
input.input_large.input_fixed {
  width: 50ch;
  min-width: 50ch;
  max-width: 90%;
}
input.input_dinamic {
  min-width: 10ch;
}
div.line_form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
div.line_form * {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
}
div.line_form button {
  flex-grow: 1;
}
div.line_form#autorized {
  text-align: left;
}
.line_form *,
div.line_form#autorized * {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
input[type="checkbox"]:checked + span#text_autorized {
  color: black;
}
input[type="checkbox"] + span#text_autorized {
  color: #DD2C00;
  padding-left: 5px;
}
input[type="radio"].type {
  display: none;
}
div.line_form input[type="button"]#join_print,
div.line_form input[type="submit"]#join_submit {
  text-align: center;
}
label.type {
  font-weight: normal;
  text-align: center;
}
#title_join .centered input[type="radio"]:checked + span {
  font-weight: bold;
}
#join {
  text-align: center;
}
#header_join {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#header_text,
#header_logo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}
#header_logo img {
  min-width: 150px;
  max-width: 200px;
  min-height: 150px;
  max-height: 200px;
  width: 20em;
}
#join_header *,
#join_contact *,
#title_join * {
  margin: 0;
}
#join_header p {
  font-size: 2.5vh;
  font-weight: bold;
}
#join_subheader {
  font-size: 2.0vh;
  font-weight: normal;
  margin:  0px;
}
#join_contact p {
  font-size: 1.5vh;
  font-weight: bold;
}
#join_title {
  font-size: 6vh;
  font-weight: bold;
}
#botoes {
  column-gap: 10px;
}
#join_submit,#join_print {
  justify-content: center;
  margin-top: 0px;
  width: auto;
}
label#confirmed {
  font-weight: normal;
  font-size: medium;
  text-align: start;
}
#required {
  color: #DD2C00;
  font-size: medium;
}
div#header_text p {
  margin: 0px;
}
/* Limite máximo para uma linha só  */
/* @media only screen and (max-width: 1140px) {

}
@media only screen and (max-width: 1024px) {
  .line_form label,
  #title_join .centered,
  .line_form .label input[type="date"],
  .line_form .label input[type="email"],
  .line_form .label input[type="text"],
  .line_form .label textarea {
    
  }
} */
/* Remove LOGO */
@media only screen and (max-width: 730px) {
  #header_logo {
    display: none;
  }
}
/* Seleção do tipo na vertical */
@media only screen and (max-width: 600px) {
  label.type {
    padding: 0px;
  }
  .centered {
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
}