/* Variáveis globais */
:root {
  --netflix-red: #e50914;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-gray: #808080;
  --font: 'Montserrat',Arial, sans-serif;
  --botao: 109,109,110;
  /* Tamanhos padrões  */
  --small: 639px;
  --normal: 1023;
  --large: 1199;
  --xlage: 1439;
  --larger: 1440;
}
/* Reset CSS padrão */

html {
  font-size: 16px;
  height: 100vh;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  padding: 0;
  margin: 0;
}


/* Estilos genéricos */

body {
  font-family: var(--font);
  color: var(--color-light);
  background-color: var(--color-dark);
}

.wrapper {
  height: 100vh;
  overflow: auto;
}

.container {
  height: 100vh;
  background: url("../uerj-treinamento-main/HTML-CSS/projetos/netflix-clone/images/poster.webp") no-repeat center top;
  background-size: cover;
}
.hero {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px 60px;
}

main {
  margin-left: 60px;
  margin-top: -80px;
}

.btn {
  border-radius:  20px;
  height: 50px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer {
  display: block;
  margin: 60px auto;
  width: 60vw;
  padding-bottom: 60px;
}
/* Logo */

.logo {
  width: 120px;
  display: flex;
  align-items: center;

}

.svg-icon-netflix-logo {
  fill: var(--netflix-red);
}

/* Menu */

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.menu ul li a {
  position: relative;
  /* color: var(--color-light); */
}
.menu ul li a .badge {
  color: var(--color-light);
  position: absolute;
  display: flex;
  top: -15px;
  right: -10px;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 23px;
  font-size: 8px;
  background: var(--netflix-red);
}

.menu .user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu .avatar {
  width: 32px;
  margin-right: 5px;
  border-radius: 5px;
}
.menu ul li a:hover {
  color: rgba(255,255,255,0.8);
  
}
.mobile-menu-btn {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-light);
  padding: 10px;
  cursor: pointer;
  font-size: 25px;
}
/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.synopsis {
  font-size: 14px;
  line-height: 150%;
  padding :15px 0;
}
.slider {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
}
.slider ul {
  list-style: none;
  display: flex;
  grid-gap: 5px;
}
.slider .ctrl {
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  /* color: var(--color-light); */
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  z-index: 3;
}
.slider:hover .ctrl {
  visibility: visible;
  opacity: 1.0;
}
.slider .ctrl:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.slider .prev {
  left: 0;
}

.slider .next {
  right: 0;
}

.slider ul li button,
.slider ul li a {
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 0;
  background-color: var(--color-dark);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
}
.buttons * {
  text-align: center;
}
.buttons .btn {
  color: var(--color-light);
  padding: 15px 25px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--color-light);
  font-family: inherit;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.6s;
  text-decoration: none;  
}
.buttons .btn i {
  margin-right: 5px;
}
.buttons .btn.primary {
  background-color: var(--color-light);
  color: var(--color-dark);
}
.buttons .btn.primary:hover {
  background-color: rgba(255,255,255,0.7);
  color: var(--color-dark);
}
.buttons .btn.secondary {
  background-color: rgba(109,109,110,0.7);
  color: var(--color-light);
}
.buttons .btn.secondary:hover {
  background-color: rgba(109,109,110,0.4);
  color: var(--color-light);
}
.slider ul li button img,
.slider ul li a img {
  max-width: 230px;
  max-height: auto;
  border-radius: 5px;
  transition: 0.6s;
}

.slider ul li button:hover img,
.slider ul li a:hover img {
  opacity: 0.6;
}

.slider ul li a .progress,
.slider ul li button .progress,
.slider ul li a progress[value],
.slider ul li button progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  margin-top:  5px;
  height: 3px;
  background-color: rgba(255,255,255,0.2);
  width: 70%;
}
.slider ul li button .current,
.slider ul li a .current {
  height: 3px;
  background-color: var(--netflix-red);
  display: block;
}
progress[value]::-webkit-progress-bar {
  background-color: rgba(255,255,255,0.2);
}
progress[value]::-webkit-progress-value {
  background-color: var(--netflix-red);
}
progress[value]::-moz-progress-bar {
  background-color: rgba(255,255,255,0.2);
}
progress[value]::-moz-progress-value {
  background-color: var(--netflix-red);
}
/* Verificando se o navegador é o Firefox */
@-moz-document url-prefix() {
  .slider ul li a progress[value],
  .slider ul li button progress[value] {
    display: none;
  }
}


/* Estilos do rodapé*/
nav.social {
  margin-bottom: 30px;
}
nav.social ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
nav.social ul li a {
  text-decoration: none;
  color: var(--color-light);
  font-size: 26px;
}
nav.social ul li a:hover {
  color: rgba(255,255,255,0.4);
  transition: 0.6s;
}
.menu-footer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 15px;
}
.menu-footer nav ul li {
  list-style: none;
}
.menu-footer nav ul li a {
  text-decoration: none;
  color: var(--color-gray);
  font-size: 13px;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}
.menu-footer nav ul li a:hover {
  color: var(--color-light);
}
.service {
  margin-top: 30px;
}
.service a {
  display: inline-block;
  border: 1px solid var(--color-gray);
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  color: var(--color-gray);
}
.service a:hover {
  color: var(--color-light);
}
.copyright {
  margin-top: 30px;
  font-size: 12px;
  color: var(--color-light);
}


/* Responsividade */
@media screen and (max-width: 800px){
  .menu .left ul,
  .menu .right ul {
    display: none;
  }
  .mobile-menu-btn {
    display: block;
  }
  .banner {
    width: 100%;
  }
  .slider ul li a img,
  .slider ul li button img {
    max-width: 180px;
  }
  .menu-footer {
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width: 480px) {
  .buttons {
    flex-direction: column;
  }
}
@media screen and (max-width: 340px) {
 .hero {
    padding-left: 0px;
    padding-right: 0px;
 } 
}